{% extends 'steve_sense/base.html' %}
{%load crispy_forms_tags %} 
{% block content %}
<br>
<h3 class="shine text-light text-center">Are you sure that you want to delete the sensor {{sensor_instance}}?</h3>
<div class="row justify-content-center my-1">
    <div class="col-lg-auto overflow-auto">
        <form class="text-light p-2" action="" method="POST"> {% csrf_token %}
            {{attached_sensors_form | crispy}}
    
            <input class="btn btn-sm btn-danger" type="submit" value="Delete">
        </form>
        <br>
        <a class="btn btn-secondary btn-sm"  href="{% url 'parameters form' %}" value="Cancel">Cancel</a>
    </div>
</div>
{% endblock %}