{% extends 'steve_sense/base.html' %}
{%load crispy_forms_tags %} 
{% block content %}

<h3 class="shine text-light text-center">Attached Devices</h3>
<div class="row justify-content-center my-1">
    <div class="col-auto overflow-auto">
        <table class="table table-sm table-dark text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Device Type</th>
                    <th>Relay Channel</th>
                    <th>Device Location</th>
                    <th>Duty Cycle Enabled</th>
                    <th>Pulse Width</th>
                    <th>Time Period</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i in attached_devices %}
                <tr>
                    <td>{{i.device_type}}</td>
                    <td>{{i.device_relay_channel}}</td>
                    <td>{{i.space}}</td>
                    <td>{{i.device_duty_cycle}}</td>
                    <td>{{i.duty_cycle_pulse_width}}</td>
                    <td>{{i.duty_cycle_time_period}}</td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'update_device' i.id %}" >Edit</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td><a class="btn btn-sm btn-success" href="{% url 'new_device' %}" >Add</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<h3 class="shine text-light text-center">Attached Sensors</h3>
<div class="row justify-content-center my-1">
    <div class="col-auto overflow-auto">
        <table class="table table-sm table-dark text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Sensor Model</th>
                    <th>Sensor Name</th>
                    <th>Sensor Location</th>
                    <th>Sensor Capabilities</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for s in attached_sensors %}
                <tr>
                    <td>{{s.sensor_model}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.space}}</td>
                    <td>{{s.temperature_sensing}}
                        {{s.humidity_sensing}}
                        {{s.lux_sensing}}
                        {{s.soild_mousture_sensing}}
                        {{s.co2_sensing}}
                        {{s.power_consumption_sensing}}
                    </td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'update_sensor' s.id %}" >Edit</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td><a class="btn btn-sm btn-success" href="{% url 'new_sensor' %}" >Add</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<h3 class="shine text-light text-center">Environmental Settings</h3>
<div class="row justify-content-center my-1">
    <div class="col-lg-auto overflow-auto">
        <form class="text-light p-2" action="" method="POST"> {% csrf_token %}
            {{environmental_settings_form|crispy }}
            <input type="submit" value="Save">
        </form>
    </div>
</div>
    {% endblock %}