<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <script type="text/javascript" src="js/gauge.min.js"></script>

    <script type="text/javascript" src="js/chart.min.js"></script>

    <script type="text/javascript" src="js/jquery.min"></script>

    <script type="text/javascript" src="js/chartjs-plugin-crosshair.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <style>
        body {
            background: rgb(32, 32, 32) !important;
        }

        h1.shine {
            text-shadow: 0px 0px 20px #666666;
        }

        h2.shine {
            text-shadow: 0px 0px 18px #666666;
        }

        h3.shine {
            text-shadow: 0px 0px 16px #666666;
        }

        h4.shine {
            text-shadow: 0px 0px 12px #666666;
        }

        h5.shine {
            text-shadow: 0px 0px 8px #666666;
        }

        h6.shine {
            text-shadow: 0px 0px 8px #666666;
        }

        div.light-text {
            color: #888888;
            font-size: 75%;
            font-style: italic;
        }


        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

        .img-fluid {
            height: 90px;
            filter: invert(100%);
        }

        .img-fluid-secondary {
            height: 70px;
            filter: invert(100%);
        }

        .disabled {
            opacity: 0.3;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="d-flex row justify-content-evenly align-items-baseline">
            <div class="col-md-auto">
                <a href="http://10.0.0.8/parameters">
                    <img class="img-fluid-secondary" alt="..." src="SteveSenseStats.png">
                </a>
            </div>
            <div class="col-md-auto">
                <img src="SteveSenseLogo.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-auto">
                <a href="http://10.0.0.8/parameters">
                    <img class="img-fluid-secondary" alt="..." src="SteveSenseParams.png">
                </a>
            </div>
        </div>

        <hr class="text-light">

    </div>
    <!--HEADER-->
    <div class="container-lg">
        <form class="row-lg">
            <h1 class="shine text-light d-flex row justify-content-center align-items-baseline">Climate Control</h1>
            <div class="row">

                <h3 class="shine text-light d-flex row justify-content-evenly align-items-baseline pt-4">Lighting</h3>

                <!--Lighting Panel-->
                <div class="form-control-lg row-lg shadow rounded">
                    <!--Setting Enable Light Timer-->
                    <div class="row-xl justify-content-between">
                        <!--Light Timer-->
                        <div class="form-check form-check-inline form-switch align-items-middle col-md">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light" for="flexSwitchCheckDefault">Enable Light
                                Timer</label>
                        </div>
                        <hr class="text-light my-1 my-1">
                        <!--Light On -->
                        <div class="row mx-3">
                            <div class="col-md-3">
                                <label for="light_on" class="text-light md-2">Light On (HH:MM)</label>
                                <input type="time" class="form-control form-control-sm" id="light_on">
                            </div>
                            <!--Duration-->
                            <div class="col-md-3">
                                <label for="light_duration" class="text-light md-2">Duration (HH:MM)</label>
                                <input type="time" class="form-control form-control-sm" id="light_duration">
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    'Light On' specifies what time the light comes on.
                                    <br><br>
                                    'Duration' dictates for how long the light will remain on.

                                </p>
                            </div>
                        </div>
                        <br class="my-1">
                    </div>
                    <!--Setting-->

                    <!--Setting Enable Light Intensity-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Light Intensity-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable Light
                                Intensity</label>
                        </div>
                        <hr class="text-light my-1">
                        <!--Intensity Timing Pattern -->
                        <div class="row mx-3">
                            <div class="col-md-6">
                                <label for="light_timing_pattern" class="text-light m-1">Timing
                                    Pattern</label>
                                <canvas id="light_timing_pattern" height="80"></canvas>
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    The 'Intensity Timing Pattern' is created by entering a minimum of
                                    2 Time & intensity(%) values
                                    <br>


                                </p>
                            </div>
                        </div>
                        <br class="my-3">
                    </div>
                    <!--Setting-->

                    <!--Setting Enable Light Rail-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Light Rail-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable Light
                                Rail</label>
                        </div>
                        <hr class="text-light my-1">

                        <!--Auto-Sync -->
                        <div class="row mx-3 disabled">
                            <!--Light Rail Start -->
                            <div class="col-md-3">
                                <label for="light_on" class="text-light md-2 ">Rail Start (HH:MM)</label>
                                <input type="time" class="form-control form-control-sm" id="light_on" disabled>
                            </div>
                            <!--Light Rail Duration-->
                            <div class="col-md-3">
                                <label for="light_duration" class="text-light md-2">Duration (HH:MM)</label>
                                <input type="time" class="form-control form-control-sm" id="light_duration" disabled>
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    'Rail Start' specifies what time the light rail will start moving.
                                    <br>
                                    'Duration' dictates how long it should take to reach its end-point.
                                </p>
                            </div>
                        </div>
                        <br class="my-2">
                        <div class="row mx-3">
                            <div class="col-md-6">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2"
                                    for="flexSwitchCheckDefault">Auto-Sync</label>
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    The 'Auto-Sync Light Rail' feature will start the light rail when the light is first
                                    powered
                                    and scale the speed until it reaches its end-point when the light goes off.
                                </p>
                            </div>
                        </div>
                        <br class="my-3">
                    </div>
                    <!--Setting-->
                </div>

                <h3 class="shine text-light d-flex row justify-content-evenly align-items-baseline pt-4">Atmospheric
                </h3>

                <!--ATMOSPHERIC Panel-->
                <div class="form-control-lg row-lg shadow rounded">
                    <!--Setting Enable Circulating Fans-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Circulating Fans-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                Circulating Fans</label>
                        </div>
                        <hr class="text-light my-1">

                        <!--Circulating Fans Timing Pattern -->
                        <div class="row mx-3">
                            <div class="col-md-6">
                                <label for="circulating_fans_timing_pattern" class="text-light m-1">Timing
                                    Pattern</label>
                                <canvas id="circulating_fans_timing_pattern" height="80"></canvas>
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    The 'Intensity Timing Pattern' is created by entering a minimum of
                                    2 Time & intensity(%) values
                                    <br>
                                </p>
                            </div>
                        </div>
                        <br class="my-1">
                    </div>
                    <!--Setting-->

                    <!--Setting Enable Heating-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Heating-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                Heating</label>
                        </div>
                        <hr class="text-light my-1 my-1">
                        <div class="row mx-3">
                            <!--duty cycle-->
                            <div class="form-check form-check-inline form-switch col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                    Duty Cycle</label>
                            </div>
                            <!--Pulse Width-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Pulse Width (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Time Period -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Time Period (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text">
                                    <p class="font-italic">
                                        'Pulse Width' Is the amount of time the device will be powered on in the total
                                        'Time Period'.
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Target Temp-->
                        <div class="row mx-3">
                            <div class="col-md-3">
                                <label for="target_heating_temp" class="text-light md-2">Target Temp (10-45°c)</label>
                                <input type="number" step="0.1" min="10" max="45" class="form-control form-control-sm"
                                    id="target_heating_temp">
                            </div>
                            <!--Target Temp Deviation-->
                            <div class="col-md-3">
                                <label for="light_duration" class="text-light md-2">Target Deviation (%)</label>
                                <input type="number" min="1" max="100" class="form-control form-control-sm"
                                    id="light_duration">
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 mx-3 mt-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    'Target Temp' is the temperature the system will try to maintain.
                                    <br><br>
                                    'Target Deviation' is the allowable deviation from this target.
                                    <br>
                                    For Example: 25° Target with 10% Deviation will create a 'buffer' of 2.5° either
                                    side of the target, effectivey creating a range.
                                </p>
                            </div>
                        </div>
                        <br class="my-1">
                    </div>
                    <!--Setting-->

                    <!--Setting Enable Cooling-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Cooling-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                Cooling</label>
                        </div>
                        <hr class="text-light my-1 my-1">
                        <div class="row mx-3">
                            <!--duty cycle-->
                            <div class="form-check form-check-inline form-switch col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                    Duty Cycle</label>
                            </div>
                            <!--Pulse Width-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Pulse Width (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Time Period -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Time Period (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text">
                                    <p class="font-italic">
                                        'Pulse Width' Is the amount of time the device will be powered on in the total
                                        'Time Period'.
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Target Cooling Temp-->
                        <div class="row mx-3">
                            <div class="col-md-3">
                                <label for="target_cooling_temp" class="text-light md-2">Target Temp
                                    (10-45°c)</label>
                                <input type="number" step="0.1" min="10" max="45" class="form-control form-control-sm"
                                    id="target_cooling_temp">
                            </div>
                            <!--Target Deviation-->
                            <div class="col-md-3">
                                <label for="light_duration" class="text-light md-2">Target Deviation (%)</label>
                                <input type="number" min="1" max="100" class="form-control form-control-sm"
                                    id="light_duration">
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 m-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    'Target Temp' is the temperature the system will try to maintain.
                                    <br><br>
                                    'Target Deviation' is the allowable deviation from this target.
                                    <br>

                                </p>
                            </div>

                            <br class="my-1">
                        </div>
                    </div>
                    <!--Setting-->
                    <!--Setting Enable Extractor-->
                    <div class="row-xl m-2 justify-content-between">
                        <!--Extractor-->
                        <div class="form-check form-check-inline form-switch col-md-6">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                Extractor</label>
                        </div>
                        <hr class="text-light my-1 my-1">
                        <div class="row m-3">
                            <!--duty cycle-->
                            <div class="form-check form-check-inline form-switch col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Enable
                                    Duty Cycle</label>
                            </div>
                            <!--Pulse Width-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Pulse Width (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Time Period -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Time Period (HH:MM)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        'Pulse Width' Is the amount of time the device will be powered on in the
                                        total
                                        'Time Period'.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Humidity Control Targeting-->
                        <div class="row m-3">
                            <!--Humidity Control-->
                            <div class="form-check form-check-inline form-switch col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2" for="flexSwitchCheckDefault">Humidity
                                    Control Targeting</label>
                            </div>
                            <!--Target Humidity-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Target Humidity (%)</label>
                                    <input type="percent" min="0" max="100" step="1"
                                        class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Target Deviation -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Target Deviation (%)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        'Target Humidity' Is what the system will try and acheive by removing humid air.
                                        <br>
                                        'Target Deviation'is the allowable deviation from this target.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Differential Analysis-->
                        <div class="row m-3">
                            <!--Differential Analysis-->
                            <div class="form-check form-check-inline form-switch col-md-6 mb-2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label text-light mx-2"
                                    for="flexSwitchCheckDefault">Exterior-Differential Analysis</label>
                            </div>
                            <!--Explanation-->
                            <div class="col-md-5 mx-3 px-5 light-text align-middle">
                                <p class="font-italic">
                                    'Exterior-Differential Analysis' will use air from outside to replace unfavourable
                                    air inside based on certain parameters.
                                    <br>
                                </p>
                            </div>
                            <!--Targets-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Target Temperature (°)</label>
                                    <input type="percent" min="0" max="100" step="1"
                                        class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Target Humidity -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Target Humidity (%)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        'Targets' are what the system will try and acheive by removing air.
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <!--Targets-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Temperature Deviation (°)</label>
                                    <input type="percent" min="0" max="100" step="1"
                                        class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Target Humidity -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Humidity Deviation (%)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        'Target Deviation' is the allowable deviation from the set targets.
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="row mx-3">
                                <div class="col-md-6 d-flex justify-content-around">
                                    <div class="col-md-4">
                                        <label for="target_temp" class="text-light md-2">Temperature/Humidity Bias
                                            (%)</label>
                                        <input type="number" min="0" max="100" step="1"
                                            class="form-control form-control-sm" id="target_temp">
                                    </div>
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        <br>
                                        The 'Temperature/Humidity Bias' is the bias given to either when calculating
                                    </p>
                                </div>
                            </div>
                            <!--Targets-->
                            <div class="row mx-3">
                                <div class="col-md-3">
                                    <label for="target_temp" class="text-light md-2">Target Temperature (°)</label>
                                    <input type="percent" min="0" max="100" step="1"
                                        class="form-control form-control-sm" id="target_temp">
                                </div>
                                <!--Target Humidity -->
                                <div class="col-md-3">
                                    <label for="light_duration" class="text-light md-2">Target Humidity (%)</label>
                                    <input type="time" class="form-control form-control-sm" id="light_duration">
                                </div>
                                <!--Explanation-->
                                <div class="col-md-5 m-3 px-5 light-text align-middle">
                                    <p class="font-italic">
                                        'Targets' are what the system will try and acheive by removing air.
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-3">Submit</button>
        </form>
    </div>

</body>
    <script>

    </script>


</html>

instruction panel to the left. Make touchpad firnedly.

myfarmmap.com

derrick christie